<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.sample02.board">
	<!-- 글쓰기 -->
	<insert id="insertArticle">
		insert into tbl_board
			(b_no, b_title, b_content, user_id, re_group)
		values
			(seq_board_bno.nextval,
				#{b_title},
				#{b_content, jdbcType=VARCHAR},
				#{user_id},
				seq_board_bno.nextval)
	</insert>
	
	<!-- 전체 조회 -->
	<select id="selectAll" resultType="BoardVo">
		select * from
			(select rownum rnum, a.* from
				(select * from tbl_board
					<include refid="search"></include>
				 	order by b_no desc)a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 글 보기 -->
	<select id="selectByBno" resultType="BoardVo">
		select * from tbl_board
		where b_no = #{b_no}
	</select>
	
	<!-- 글 수정 -->
	<update id="updateArticle">
		update tbl_board set
			b_title = #{b_title},
			b_content = #{b_content, jdbcType=VARCHAR}
		where b_no = #{b_no}
	</update>
	
	<delete id="deleteArticle">
		delete from tbl_board
		where b_no = #{b_no}
	</delete>
	
	<!-- 글 수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_board
		<include refid="search"></include>
	</select>
	
	<!-- 검색 -->
	<sql id="search">
		<if  test="searchType != null">
			<choose>
				<when test='searchType == "t"'>
					where b_title like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					where b_content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "u"'>
					where user_id like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tc"'>
					where b_title like '%' || #{keyword} || '%'
					or b_content like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tcu"'>
					where b_title like '%' || #{keyword} || '%'
					or b_content like '%' || #{keyword} || '%'
					or user_id like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt">
		update tbl_board set
			b_viewcnt = b_viewcnt + 1
		where b_no = #{b_no}
	</update>
	
	<!-- 해당 게시글의 댓글 갯수 변경 -->
	<update id="updateCommentCnt">
		update tbl_board set
			comment_cnt = comment_cnt + #{count}
		where b_no = #{b_no}
	</update>
</mapper>