<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.sample02.comment">

	<!-- 댓글 목록 -->
	<select id="getCommentList" resultType="CommentVo">
		select * from tbl_comment
		where b_no = #{b_no}
		order by c_no desc
	</select>
</mapper>