<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kh.webviewex">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- icon속성으로 원하는 아이콘이미지로 변경 가능-->
    <!-- label속성으로 원하는 이름 변경 가능 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/emo_im_cool"
        android:label="웹브라우저"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebViewEx">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>